/* label color */
.input-field label {
	color: #0d47a1!important;
	font-weight: bolder;
}
.input-field input[type="email"] {
	width: 99%;
	border-bottom: none!important;
}
/* label focus color */
.input-field input[type=email]:focus + label {
	color: #0d47a1!important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: none!important;
	box-shadow: none!important;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: none!important;
	box-shadow: none!important;
}
.input-field input[type="password"] {
	width: 99%;
	border-bottom: none!important;
}
/* label focus color */
.input-field input[type=password]:focus + label {
	color: #0d47a1!important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: none!important;
	box-shadow: none!important;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: none!important;
	box-shadow: none!important;
}

.custom-field {
	border-radius: 6px;
}

.custom-button {
	border-radius: 20px;
	width:50%;
	letter-spacing: 4px;
}