html, body {
	height: 100vh;
	overflow-y: hidden;
}
.fill {
	min-height: 100vh !important;
}

.c1 {
	padding:50px;
}

/* label color */
.input-field label {
	color: #0d47a1!important;
	font-weight: bolder;
}
.input-field 
input[type=email],
input[type=password] {
	width: 99%;
	border-bottom: none!important;
}
/* label focus color */
.input-field 
input[type=email]:focus + label,
input[type=password]:focus + label {
	color: #0d47a1!important;
}
/*remove undesired color components*/
.input-field 
input[type=email]:focus,
input[type=email].valid,
input[type=email].invalid,
input[type=password]:focus,
input[type=password].valid,
input[type=password].invalid {
	border-bottom: none!important;
	box-shadow: none!important;
}

.custom-field {
	border-radius: 6px;
}

.custom-button {
	border-radius: 20px;
	width:50%;
	letter-spacing: 4px;
}
