html, body {
	height: 100vh;
	overflow-y: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.fill {
	min-height: 100vh !important;
}

h4,h5 {
	color: white;
}

.c1 {
	padding:50px;
}

.custom-field {
	border-radius: 6px;
	height: 51px;
}

.custom-button {
	border-radius: 20px;
	width:50%;
	letter-spacing: 4px;
	font-weight: bolder;
}

.forgot:hover {
	font-weight: bold;
}

.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email].valid,
.input-field input[type=password].valid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid {
     border-bottom: none!important;
     box-shadow: none!important;
}